disable=
    len-as-condition,
    too-few-public-methods,
    anomalous-backslash-in-string,
    no-else-return,
    simplifiable-if-statement,
    too-many-arguments,
    no-name-in-module,
    no-member,
    long-suffix,
    next-method-called,
    indexing-exception,
    raising-string,
    reload-builtin,
    missing-docstring,
    invalid-name
