$include /etc/inputrc

TAB:menu-complete
"\C-p":history-search-backward
"\C-n":history-search-forward

set colored-stats on
set visible-stats on

set page-completions off
set match-hidden-files off

set skip-completed-text on
set show-all-if-ambiguous on
set show-all-if-unmodified on

set completion-ignore-case on
set completion-prefix-display-length 2
set completion-query-items 150

set mark-symlinked-directories on
set menu-complete-display-prefix on
