$include /etc/inputrc

"\C-p":history-search-backward
"\C-n":history-search-forward

set colored-stats on
set completion-ignore-case on
set completion-prefix-display-length 2
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on
set menu-complete-display-prefix on
