configuration {
    modi: "window,drun,combi";
    lines: 8;
    font: "ubuntumono nerd font mono 18";
    show-icons: true;
    terminal: "kitty";
    combi-modi: "drun";
    scrollbar-width: 4;
}

@theme "colors-dark.rasi"

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}
