[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/user/.i3/i3lock

[Install]
WantedBy=sleep.target
